Repository axa-group/Parsr, pull requests merged in 2019-09, with the labels that each got.

#66 Google Vision for Images
  .vscode/launch.json
  docs/google-vision.md
  package-lock.json
  package.json
  server/bin/index.ts
  server/defaultConfig.json
  server/src/input/google-vision/GoogleVisionExtractor.ts
  server/src/types/Config.ts
Labels: feature, input / extraction

#72 Initial version raw text / markdown viewer
  demo/vue-viewer/src/components/NavBar.vue
  demo/vue-viewer/src/router.js
  demo/vue-viewer/src/services/DocumentServices.js
  demo/vue-viewer/src/views/ViewerMarkdown.vue
  demo/vue-viewer/src/views/ViewerText.vue
  demo/vue-viewer/src/vuex/store.js
Labels: gui, output / export

#71 Issue/29 formatting output in markdown
  server/src/input/pdfminer/pdfminer.ts
  server/src/output/markdown/MarkdownExporter.ts
  server/src/types/DocumentRepresentation/Character.ts
  server/src/types/DocumentRepresentation/Paragraph.ts
  server/src/utils.ts
Labels: output / export
