Repository axa-group/Parsr, pull requests merged in 2019-10, with the labels that each got.

#101 Feature/vue demo element filter
  demo/vue-viewer/src/components/DocumentPreview/Page.vue
  demo/vue-viewer/src/components/ElementSelector.vue
  demo/vue-viewer/src/views/Viewer.vue
Labels: feature

#107 [Vue] added persistence to expansion panels state in Document Viewer
  demo/vue-viewer/src/components/ElementInspector.vue
  demo/vue-viewer/src/components/ElementSelector.vue
  demo/vue-viewer/src/components/PageInspector.vue
  demo/vue-viewer/src/components/WordHierarchy.vue
  demo/vue-viewer/src/vuex/store.js
Labels: feature

#112 Resolves #82 : Adding default configuration retrieval possible using the API
  api/server/src/ServerManager.ts
  api/server/src/api.ts
Labels: api

#76 Cleaning pdfminer's textual import
  server/defaultConfig.json
  server/src/Cleaner.ts
  server/src/input/extract-fonts.ts
  server/src/input/pdfminer/PdfminerExtractor.ts
  server/src/input/pdfminer/pdfminer.ts
  server/src/processing/LinesToParagraphOldModule/LinesToParagraphModule.ts
  server/src/processing/LinesToParagraphOldModule/README.md
  server/src/processing/LinesToParagraphOldModule/defaultConfig.json
Labels: input / extraction

#91 Issue #6 - Remove redundancy upon slight offset of text data
  server/src/input/pdfminer/pdfminer.ts
  server/src/output/markdown/MarkdownExporter.ts
  server/src/processing/LinesToParagraphModule/LinesToParagraphModule.ts
  server/src/processing/OutOfPageRemovalModule/OutOfPageRemovalModule.ts
  server/src/processing/RedundancyDetectionModule/RedundancyDetectionModule.ts
  server/src/processing/RedundancyDetectionModule/defaultConfig.json
  server/src/processing/TableDetectionModule/TableDetectionModule.ts
  server/src/types/DocumentRepresentation/BoundingBox.ts
  server/src/types/DocumentRepresentation/Page.ts
  server/src/utils.ts
Labels: processing

#120 Detect if tables already exist (case for ABBYY)
  server/src/processing/TableDetectionModule/TableDetectionModule.ts
Labels: code quality / organisation, processing

#119 Fixed improper param checking in the Table module
  server/src/processing/TableDetectionModule/TableDetectionModule.ts
Labels: bug, processing

#118 various fixes in pdfminer handling buggy exports
  server/src/input/pdfminer/pdfminer.ts
Labels: input / extraction

#127 [Vue] - added box info to element inspector
  demo/vue-viewer/src/components/ElementInspector.vue
Labels: feature

#138 [API] [Doc] Documenting the new configuration and module access endpoints on the API
  docs/api-guide.md
Labels: api, documentation

#137 [HeadingDetection] Issue/fix headings detection under new paragraph module
  demo/vue-viewer/src/vuex/store.js
  docs/configuration-file.md
  server/configKeyValueSearch.json
  server/defaultConfig.json
  server/remoteModuleConfig.json
  server/src/Cleaner.ts
  server/src/processing/HeadingDetectionModule/HeadingDetectionModule.ts
  server/src/processing/HeadingDetectionModule/README.md
  server/src/processing/HeadingDetectionModule/defaultConfig.json
  server/src/processing/LinesToParagraphModule/LinesToParagraphModule.ts
  server/src/processing/LinesToParagraphModule/README.md
  server/src/processing/LinesToParagraphModule/defaultConfig.json
  server/src/processing/README.md
  server/src/types/DocumentRepresentation/Document.ts
  server/src/types/DocumentRepresentation/Line.ts
  server/src/types/DocumentRepresentation/Page.ts
  server/src/utils.ts
  test/json-export-import.spec.ts
Labels: feature, processing

#157 [ListDetection] - A working list detection
  server/defaultConfig.json
  server/src/Cleaner.ts
  server/src/input/abbyy/AbbyyTools.ts
  server/src/output/json/JsonExporter.ts
  server/src/output/markdown/MarkdownExporter.ts
  server/src/processing/LinesToParagraphModule/LinesToParagraphModule.ts
  server/src/processing/ListDetectionModule/ListDetectionModule.ts
  server/src/types/DocumentRepresentation/JsonExport.ts
  server/src/types/DocumentRepresentation/List.ts
  server/src/utils.ts
Labels: processing

#169 [Tesseract] Fixes a type casting issue in Tesseract extraction
  server/bin/index.ts
  server/src/input/pdfminer/pdfminer.ts
  server/src/input/set-page-dimensions.ts
  server/src/input/tesseract/tesseract2json.ts
  server/src/processing/OutOfPageRemovalModule/OutOfPageRemovalModule.ts
  server/src/types/TsvElement.ts
  server/src/utils.ts
Labels: input / extraction

#171 Change email address in Swagger for opensource@axa.com
  api/swagger/openapi.yaml
  api/swagger/swagger-generated.yaml
  docs/api.html
Labels: documentation, security

#172 Redirect demo to /upload instead of empty Home. Change title to Parsr from vue-viewer.
  demo/vue-viewer/public/index.html
  demo/vue-viewer/src/router.js
Labels: feature, gui

#173 Remove personal information from API package.json
  api/server/package.json
Labels: code quality / organisation, documentation

#174 Remove unused dependency from Vue router.js
  demo/vue-viewer/src/router.js
Labels: bug, gui
